<h1><%=@list.name%></h1>
<%@list.tasks.each do |task|%>

    <li>
        <p class="<%= "complete" if task.complete%>"><%=task.name%></p>
    </li>
<%end%>
        <a href="/lists/<%=@list.id%>/edit">Edit List</a>
