<h1>Welcome to Lists</h1>
    <h3>Log In Please</h3>
    <% if flash[:message] %>
      <%= flash[:message] %>
      <%end%>
  <form action="/login" method="post">
  <label>Username: </label><input type="text" name="username">
  <label>Password: </label><input type="password" name="password">
  <input type="submit" value="submit">
  
  </form>